  {{#each pic in controller }}
    <div class='markup_outer'>
      {{#if pic.finished}}
        {{ partial 'picVisual' }}
        {{#if pic.isAlbumDoctor}}
          {{ partial 'downloadLink' }}
        {{/if}}
      {{else}}
        {{ view 'editablePic' pic=pic.model}}
      {{/if}}
      {{ partial "picInstruction"}}
      {{ render 'markupInstructions' pic.markups}}
    </div>
  {{/each}}

