  <div class='span2'>
    <!-- This '#anchor' is a hack to make sure that the div has a min width -->
    <div id="anchor" style="width:180px; height:1px;"></div>
    <!-- These buttons are slid down by js. Using 'position:fixed' breaks -->
    <!-- on narrow monitors -->
    <div id="buttons" style='position:static; width:130px; margin-left: 20px;'>
    
    <a class='btn btn-primary btn-large workflow-buttons top-navigation-button' {{action 'previous'}}>{{previousLabel}}</a>
    <a class='btn btn-primary btn-large workflow-buttons bottom-navigation-button' {{action 'next'}}>{{nextLabel}}</a>
    {{#if albumDoctor}}
        {{partial "docUploadButton"}}
    {{/if}}
    </div>
  </div>
