<div class='messages'>
  {{commentsText}}
  {{#if messages.length}}
  (<a href {{action 'openClose'}}>{{openCloseText}}</a>)
  {{/if}}

  {{#if showingComments}}
  <ul>
    {{#each message in messages}}
    <li>
    <section class='message'>
      <div class='top'>
        <span {{bind-attr class=':commentor message.is_owner:my_comment'}}>{{message.commentor}}:</span>
        <span class='comment'>{{message.message}}</span>
      </div>
      <div class='bottom'>
        <span class='time'>
          {{message.created}}
        </span>
      </div>
    </section>
    </li>
    {{/each}}
  </ul>
  {{/if}}
  <div class='new_message'>
    {{view Pd.SubmitTextField value=newMessage enter='sendThatMessage'}}
    <button {{action 'sendThatMessage'}}>Send That Message</button>
  </div>
</div>
