<h1>Account Settings</h1>
<div class='settings'>
  <div class='settings-navigation'>
    {{link-to 'Profile' 'settings.profile'}}
    {{link-to 'Password' 'settings.password'}}
    {{link-to 'Email Config' 'settings.emailConfig'}}
    {{link-to 'Roles' 'settings.roles'}}
    {{#if isDoctor}}
    {{link-to 'Bank Account' 'settings.bank_account'}}
    {{link-to 'Merchant Info' 'settings.merchant_info'}}
    {{/if}}
  </div>
</div>
<div class='settings-info'>
{{outlet}}
</div>
