<h1>Account Settings</h1>
<div class='settings'>
  <div class='settings-navigation'>
    {{link-to 'Profile' 'settings.profile'}}
    {{link-to 'Password' 'settings.password'}}
    {{link-to 'Email Config' 'settings.emailConfig'}}
    {{link-to 'Roles' 'settings.roles'}}
    {{#if isUser}}
    {{link-to 'Credit Cards' 'settings.creditcards'}}
    {{/if}}
    {{#if isDoctor}}
    {{link-to 'Payments' 'settings.payments'}}
    {{/if}}
  </div>
</div>
<div class='settings-info'>
{{outlet}}
</div>
