<div class="settings-form">

  <div class='row'>
    <div class="span4">Your saved credit cards:</div>
  </div>

  {{#each card in controller}}
  <div class='row creditcard'>
    <span class='span1'></span><div>{{ card.brand }}</div>
    <span class='span1'></span><div>XXXX-XXXX-XXXX-{{ card.last4 }}</div>
    <span class='span1'></span><div>Exp: {{card.exp_month}}/{{card.exp_year}}</div>
    <span class='span1'></span><button class='btn btn-danger' {{action 'delete' card.id}}>Delete</button>
  </div>
  {{/each}}

  <div class='form-row'>
    {{#if vError }}
    <div class="alert alert-error">{{vError}}</div>
    {{/if}}

    {{#if vSaved }}
    <div class="alert alert-success">Credit card remove sucessfully.</div>
    {{/if}}

    <p>
      You add new cards when completing a <a href="/upload/">new job</a>.
    </p>
  </div>
</div>
