<ul>
  <li>
{{input type="checkbox" checked=foo}}Job status has changed
  </li>
  <li>
{{input type="checkbox" checked=foo}}Jobs are available
  </li>
  <li>
{{input type="checkbox" checked=foo}}Job waiting on you
  </li>
  <li>
{{input type="checkbox" checked=foo}}You have received a message about your job
  </li>
  <li>
{{input type="checkbox" checked=foo}}Please fix a few more things on your job
  </li>
  <li>
{{input type="checkbox" checked=foo}}A user has chosen to switch doctors
  </li>
</ul>
