<div class='settings-form form-650'>
  {{#if stripe_user}}
  <div class='form-row'>
    <div class='form-field'>
      Connected Stripe Account
    </div>
    <div class='form-value'>
      {{user.stripe_user}}
    </div>
    <div class='form-row'>
      <div class='form-field'>
        <div class="alert alert-info">
          Connect a different Stripe Account
        </div>
      </div>
      <div class='form-value'>
        <a class='form-value-stripe' {{bind-attr href=stripeUrl}}> {{static_img 'blue_stripe.png'}}</a>
      </div>
    </div>
  </div>

  {{else}}
  
  <div class='form-row'>
    <div class="alert alert-info">
      In order to recieve payments for your work performed you will need to sign up for a Stripe account.  Stripe allows us to send money to you without needing to store any of your sensative information on our servers.  This protects you and your personal information. 
    </div>
  </div>
  <div class='form-row'>
    <a {{bind-attr href=stripeUrl}}> {{static_img 'blue_stripe.png'}}</a>
  </div>

  {{/if}}

</div>

