<div class='form-450'>
  <div class="alert alert-info">Currently we're using Stripe as our payment platform.  In order to transfer money to your bank account or debit card we'll need some information to create an account with them.</div>
  <div class='form-row'>
    <div class='form-field'>
      <label>
        {{view Ember.RadioButton name="individual" selectionBinding="individual" value='true'}}
        Individual
      </label>
    </div>
    <div class='form-value'>
      <label>
        {{view Ember.RadioButton name="individual" selectionBinding="individual" value='false'}}
        Business 
      </label>
    </div>
    {{#if showIndividual}}
    {{partial 'settings/_individualForm'}}
    {{else}}
    {{partial 'settings/_businessForm'}}
    {{/if}}

    <div class='form-row'>
      <button class='btn btn-info' {{ action 'save'}} >
        Submit to Stripe
      </button>
    </div>

    <div class='form-row'>
      {{#if show_passwordmatch_error }}
      <div class="alert alert-error">Your new passwords must match.</div>
      {{/if}}

      {{#if password_changed }}
      <div class="alert alert-success">Pasword changed successfully.</div>
      {{/if}}

      {{#if bad_oldpassword }}
      <div class="alert alert-error">Your old password was incorrect.</div>
      {{/if}}
    </div>
  </div>
