{{#if stripe_user}}
<div class='settings-form form-650'>
  <div class='form-row'>
    <div class='form-field'>
      Connected Stripe Account
    </div>
    <div class='form-value'>
      {{stripe_user}}
    </div>
    <div class='form-row'>
      <div class='form-field'>
        <div class="alert alert-info">
          Connect a different Stripe Account
        </div>
      </div>
      <div class='form-value'>
        <a class='form-value-stripe' {{bind-attr href=stripeUrl}}> {{static_img 'blue_stripe.png'}}</a>
      </div>
    </div>
  </div>
</div>

{{else}}

<div class="alert alert-info">
  Before you can take a job we require you to have a Stripe Connect account.  Stripe allows us to connect doctors and users.  Currently Stripe Connect supports the following countries (<a href='https://support.stripe.com/questions/what-countries-does-stripe-support'>Click Here</a>). 
   Stripe allows you to be paid without needing to store any of your sensative information on our servers.  This protects you and your personal information. 
</div>
<div class='form-row'>
  <a {{bind-attr href=stripeUrl}}> {{static_img 'blue_stripe.png'}}</a>
</div>

{{/if}}


