<div class='settings-form'>
  <div class='form-row'>
    <div class='form-field'>
      Nickname
    </div>
    <div class='form-value'>
      {{nickname}}
    </div>
  </div>
  <div class='form-row'>
    <div class='form-field'>
      Email 
    </div>
    <div class='form-value'>
      {{input value=email}}
    </div>
  </div>
  {{#if invalidEmail}}
  <div class='form-row'>
    <div class='alert alert-error'>Invalid Email</div>
  </div>
  {{/if}}
  <div class='form-row'>
    <button class='btn btn-info' {{ action 'save'}} {{bind-attr disabled=saveDisabled}} >
      Save 
    </button>
  </div>
  {{#if saved}}
  <div class="alert alert-success">Changes successfully saved.</div>
  {{/if}}
  {{#if failedSave}}
  <div class="alert alert-failure">{{failedError}}</div>
  {{/if}}
  {{#if isDoctor}}
    <hr>
    <div class='form-row'>
       <div class='form-field'>
         Profile
       </div>
       <div class='form-value'>
         You're profile can be viewed <a {{bind-attr href=doc_profile_page}}>Here</a>
       </div>
    </div>


  {{/if}}

</div>
