
<div class='settings-form'>

  <div class='form-row'>
    <div class='form-field'>
      Role
    </div>
    <div class='form-value'>
      Add/Remove
    </div>
  </div>
  {{#each role in availableRoles itemController='role'}}
  <div class='form-row'>
    <div class='form-field'>
      {{capitalize role.model}}
    </div>
    <div class='form-value'>
      {{#if role.userRole}}
      <button {{action 'remove' userRole}}>Remove {{role.model}}</button>
      {{else}}
      <button {{action 'add' role.model}}>Add {{role.model}}</button>
      {{/if}}
    </div>
  </div>
  {{/each}}
  <div class='form-row'>

    {{#if vError }}
    <div class="alert alert-error">{{vError}}</div>
    {{/if}}

    {{#if vSaved }}
    <div class="alert alert-success">Role saved successfully.</div>
    {{/if}}

  </div>
  <div {{action 'refresh'}} class="alert alert-info clickable">You might need to refresh the page if you've added or removed some roles (or just click here)</div>
</div>
